@model ExternalLoginConfirmationViewModel
@{



    ViewData["Title"] = "Register with other service";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1 class="title-text">@ViewData["Title"]</h1>
<h3 class="title-text">Make a link with @ViewData["ProviderDisplayName"]</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]"
    method="post" class="form-horizontal" role="form">
    <h4>Link Information <h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <p class="text-info">
                Bạn đã xác thực liên kết với <strong>@ViewData["ProviderDisplayName"]</strong>.
                Hãy nhập địa chỉ email để liên kết hoặc tạo tài khoản.
            </p>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Đăng ký</button>
                </div>
            </div>
</form>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
