@{
    ViewData["Title"] = "Login Page";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleLogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Split Screen</title>
</head>

<body>
    <div class="wrapper1">
        <div class="content-left">
            <div class="container-left">
                <h1 class="left-header">
                    Hello Guys
                </h1>
                <p class="left-message">
                    Login for booking right now
                </p>
                <a href="#" class="frame-btn">
                    <span class="frame-btn__outline frame-btn__outline--tall">
                        <span class="frame-btn__line frame-btn__line--tall">
                        </span>
                        <span class="frame-btn__line frame-btn__line--flat">
                        </span>
                    </span>
                    <span class="frame-btn__outline frame-btn__outline--flat">
                        <span class="frame-btn__line frame-btn__line--tall">
                        </span>
                        <span class="frame-btn__line frame-btn__line--flat">
                        </span>
                    </span>
                    <span class="frame-btn__solid"></span>
                    <span class="frame-btn__text">SIGN UP</span>
                </a>
            </div>
        </div>

        <div class="content-right">
            <h2 class="right-header">SIGN IN</h2>
            <div class="right-socials">
                <div class="socials-btn facebook-border">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="socials-btn google-border">
                    <i class="fab fa-google"></i>
                </div>
                <div class="socials-btn instagram-border">
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="right-message">or use your account</div>
            <div class="right-input_email">
                <input type="text" class="right-input right-email" placeholder="E-mail">
                <i class="fas fa-envelope modifier"></i>
            </div>
            <div class="right-input_password">
                <input type="password" class="right-input right-password" placeholder="Password">
                <i class="fas fa-eye modifier"></i>
            </div>
            <p class="right-warning">
                Forgot your password?
            </p>
            <a href="#" class="btn btn--diagonal btn--orange">Sign In</a>

        </div>

    </div>
</body>