@model EditExtraProfileModel
@{







    ViewData["Title"] = "Information Profile";
}



<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h4 class="title-text">@ViewData["Title"]</h4>

<partial name="_StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" disabled />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="UserEmail"></label>
                <input asp-for="UserEmail" class="form-control" disabled />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" disabled />
            </div>
            <br />
            <div class="form-group display-edit">
                <label asp-for="HomeAdress"></label>
                <textarea asp-for="HomeAdress" class="form-control"></textarea>
                <span asp-validation-for="HomeAdress" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <br />
            <button id="update-profile-button" type="submit" class="btn btn-primary edit-btn closer">Save
                change</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
