@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: var(--clr-dark);
  color: var(--clr-light);
  min-height: 100vh;
  display: grid;
  place-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-secondary: #0a84ff;
}
.wrap {
  /* background-image: url("/img/bgg.jpg"); */
  width: 100%;
  /* min-height: 100vh; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.headerr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.navbar-cen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.headerr form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hi-titile {
  font-size: 30px;
}
.logout-edit {
  /* margin-left: 20px; */
  border-radius: 5px;
  font-size: 20px;
}
.logout-edit:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.11);
}
.nav-item {
  list-style: none;
}
.hi-titile {
  text-decoration: none;
  color: #000;
}
.headerr form {
  margin: auto;
}
.headerr-left {
  display: flex;
  align-items: center;
}
.headerr-name {
  margin-right: 15px;
  font-size: 30px;
}
.headerr-right a {
  margin-left: 30px;
  text-decoration: none;
  color: #000;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search-bar i {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.562);
  font-size: 40px;
}
.search-bar input {
  font-size: 25px;
  width: 500px;
  padding: 10px 20px;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0.288);
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: 245px;
}

.btn {
  cursor: pointer;
  padding: 0.5em 1em;
  border: 0;
  background: var(--clr-secondary);
  color: var(--clr-light);
  font-weight: bold;
  border-radius: 12px;
}
.card-column {
  max-width: 90%;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  /* margin-left: -20px; */
}
.game {
  position: relative;
  width: 25%;
  margin-left: 20px;
}
.streamers {
  display: flex;
  text-align: center;
}
.hide {
  display: none;
}
.streamers img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.front {
  transition: 200ms;
}
.front > img {
  border-radius: 12px;
}
.front .name {
  margin: 0.75em 0;
}
.front .status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.front .streamers img {
  border: 1px solid var(--clr-dark);
}
.front .streamers img:nth-child(1) {
  z-index: 1;
  transform: translateX(15px);
}
.front .streamers img:nth-child(2) {
  transform: translateX(10px);
}
.back {
  position: absolute;
  top: 56%;
  left: 0;
  right: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.back .streaming-info {
  columns: 2;
  column-rule: 1px solid rgba(255, 255, 255, 0.6);
}
.back .game-stat {
  font-size: 1.2rem;
  text-align: center;
}
.back .game-stat span {
  display: block;
  font-size: 0.8rem;
}

.back .streamers {
  display: flex;
}
.backgroundWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #24282a;
  z-index: -1;
  transform: scale(0.2, 0.8);
  opacity: 0;
  border-radius: 12px;
}
.game:hover .front {
  transform: translateY(-25%) scale(0.8);
}
.game:hover .front .name {
  animation: gameName 150ms forwards;
}
.game:hover .front .status {
  opacity: 0;
}
.game:hover .back {
  opacity: 1;
}
.game:hover .back .streamers {
  width: 100%;
  justify-content: space-between;
}
.game:hover .back .streamer {
  font-size: 0.9rem;
}
.game:hover .back .name {
  font-weight: bold;
}
.game:hover .rank {
  top: -35px;
  right: -30px;
}
.game:hover .backgroundWrapper {
  transition: transform 200ms ease-in-out, opacity 100ms linear;
  opacity: 1;
  transform: scale(1.4, 1.2);
}
.back a {
  text-decoration: none;
}
.rank {
  position: absolute;
  right: 15px;
  font-weight: bold;
  font-size: 1.12rem;
  background: rgba(0, 0, 0, 0.75);
  padding: 0.5em 0.5em;
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
  transition: 250ms ease-in-out;
}

/* Booking Block */
.label-edit {
  display: block;
  color: #5a5f6f;
}
.form-booking {
  width: 40%;
  margin-left: 370px;
}

.submit-form {
  background-color: #1d5dff94;
  width: 180px;
  height: 40px;
}
.submit-form:hover {
  background-color: #1d5eff;
}
.design-form {
  position: absolute;
  top: 20px;
  transform: translateY(-50%);
}
.input-booking {
  width: 250px;
  height: 30px;
  border-radius: 25px solid black;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}
/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* demo */
/* body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222;
} */
@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
  }
  100% {
    text-align: center;
    opacity: 1;
  }
}
.dropdown-list {
  background-color: #0d1113;
}
