@using Microsoft.AspNetCore.Identity
@using App.Models
@model App.Models.Bookings.Booking
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="~/css/userPage.css">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    @if (SignInManager.IsSignedIn(User))
    {

        ViewBag.Username = @UserManager.GetUserName(User);


    }



    <section class="wrap">
        <section class="headerr">
            @* <div class="headerr-left"> *@
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"
                class="navbar-right">
                    <ul class="nav navbar-nav navbar-right navbar-cen">
                        <li class="nav-item">
                            <a style="color: #fff;" class="nav-link hi-titile" asp-area="Identity" asp-controller="Manage"
                            asp-action="Index" title="Manage">Welcome
                                @UserManager.GetUserName(User)!</a>

                        </li>
                        <li class="nav-item">
                            <button asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post"
                            id="logoutForm" type="submit"
                            class="btn btn-link navbar-btn navbar-link logout-edit">Logout</button>
                        </li>
                    </ul>
                </form>
            }
            @* <partial name="_BranchList" /> *@
        </section>
        @* <div class="search-bar">
            <input type="text" class="search" placeholder="Quán gần bạn ... km">
            <i class="fas fa-search-location"></i>
            </div> *@
    </section>

    <div class="card-column">
        <div class=" game">
            <div class="rank">1</div>
            <div class="front">
                <img src="https://www.sweets.vn/wp-content/uploads/2021/08/ca-phe-tang-thuong-sai-gon-6.jpg" alt="game">
                <h3 class="name">Nắng Rooftop</h3>
                <div class="status">
                    <p class="viewers">326 Lê Văn Lương</p>
                    <div class="streamers">
                        5km
                    </div>
                </div>
            </div>
            <div class="back">
                <div class="streaming-info">
                    <p class="game-stat">100<span>Slot</span></p>
                    <p class="game-stat">80+<span>Rating</span></p>
                </div>
                <a href="https://www.facebook.com/Nangrooftopcoffee" target="_blank" class="btn">Check in Facebook</a>
            </div>
        </div>
        <div class="backgroundWrapper"></div>
        <div class=" game">
            <div class="rank">2</div>
            <div class="front">
                <img src="https://www.sweets.vn/wp-content/uploads/2021/08/541d2d3cc9e9d5b812b6b066ed5da76d.jpg"
                    alt="game" class="img-size">
                <h3 class="name">2PM</h3>
                <div class="status">
                    <p class="viewers">135/39 Nguyễn Hữu Cảnh</p>
                    <div class="streamers">
                        4km
                    </div>
                </div>
            </div>
            <div class="back">
                <div class="streaming-info">
                    <p class="game-stat">100<span>Slot</span></p>
                    <p class="game-stat">50+<span>Rating</span></p>
                </div>
                <a href="https://www.facebook.com/2PMCoffee" target="_blank" class="btn">Check in Facebook</a>

            </div>
        </div>
        <div class="backgroundWrapper"></div>
        <div class=" game">
            <div class="rank">3</div>
            <div class="front">
                <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t39.30808-6/257576434_419132023153144_4692231525160989238_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=ppuL_qENoT0AX-OsVMu&_nc_ht=scontent.fsgn2-2.fna&oh=f5fcd18553bb0a3b34051dd6739f9aa1&oe=61B2C9E5"
                    alt="game">
                <h3 class="name">Sargon</h3>
                <div class="status">
                    <p class="viewers">2/42 Cao Thắng</p>
                    <div class="streamers">
                        4km
                    </div>
                </div>
            </div>
            <div class="back">
                <div class="streaming-info">
                    <p class="game-stat">100<span>Slot</span></p>
                    <p class="game-stat">85+<span>Rating</span></p>
                </div>
                <a href="https://www.facebook.com/sargoncoffee" target="_blank" class="btn">Check in Facebook</a>
            </div>
        </div>
        <div class="backgroundWrapper"></div>
        <div class=" game">
            <div class="rank">4</div>
            <div class="front">
                <img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.6435-9/167127685_542474497142443_5888917863441779566_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=h41J7ocbMtAAX-FygY-&_nc_ht=scontent.fsgn2-4.fna&oh=1f30380997fe9c2e8398ed28f6b3d6f8&oe=61CC9D2F"
                    alt="game">
                <h3 class="name">Khói Rooftop</h3>
                <div class="status">
                    <p class="viewers">1-3 Phú Mỹ</p>
                    <div class="streamers">
                        3km
                    </div>
                </div>
            </div>
            <div class="back">
                <div class="streaming-info">
                    <p class="game-stat">100<span>Slot</span></p>
                    <p class="game-stat">90+<span>Rating</span></p>
                </div>
                <a href="https://www.facebook.com/Nangrooftopcoffee" target="_blank" class="btn">Check in Facebook</a>
            </div>
        </div>
        <div class="backgroundWrapper"></div>
    </div>

    </div>
    </div>

    <br>
    <div class="form-booking">
        <div class="col-md-4">
            <form asp-area="Booking" asp-controller="Booking" asp-action="BookingUser">
                <div asp-validation-summary="ModelOnly" class="form-booking relative-form"></div>
                <div class="form__group field">
                    <label asp-for="UserName" class="form__label"></label>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <input asp-for="UserName" value="@ViewBag.Username" class="form__field" />
                    }
                    else
                    {
                        <input asp-for="UserName" class="form__field" />
                    }
                    <input asp-for="UserName" value="" class="input-booking hide" />


                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form__group field">
                    <label asp-for="ClientSlot" class="form__label"></label>
                    <input asp-for="ClientSlot" class="form__field" />
                    <span asp-validation-for="ClientSlot" class="text-danger"></span>
                </div>
                <div class="form__group field">
                    <label asp-for="BookingSlot" class="form__label"></label>
                    <input asp-for="BookingSlot" class="form__field" />
                    <span asp-validation-for="BookingSlot" class="text-danger"></span>
                </div>
                @* <div class="form__group field">
                    <label asp-for="Branch" class="form__label"></label>
                    <input asp-for="Branch" class="form__field" />
                    <span asp-validation-for="Branch" class="text-danger"></span>
                    </div> *@
                <div class="form__group field">
                    <label asp-for="Branch" class="form__label"></label>
                    @* <input asp-for="Branch" class="form__field" /> *@
                    <select asp-for="Branch" class="form__field ">
                        <option class="dropdown-list" value="Nang Rooftop">Nắng Rooftop</option>
                        <option class="dropdown-list" value="2PM">2PM</option>
                        <option class="dropdown-list" value="Sargon">Sargon</option>
                        <option class="dropdown-list" value="Khoi Rooftop">Khói Rooftop</option>
                    </select>
                    <span asp-validation-for="Branch" class="text-danger"></span>

                </div>
                <div class="form__group field">
                    <label asp-for="UserPhone" class="form__label"></label>
                    <input asp-for="UserPhone" class="form__field" />
                    <span asp-validation-for="UserPhone" class="text-danger"></span>
                </div>
                <div class="form__group field ">
                    <input type="submit" value="Create" class="btn btn-primary submit-form" />
                </div>

            </form>
        </div>
    </div>

    @* <partial name="_SearchPage" /> *@
</body>