@using Microsoft.AspNetCore.Identity
@using App.Models
@model App.Models.Bookings.Booking
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="~/css/userPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

@if (SignInManager.IsSignedIn(User))
            {
                
                  ViewBag.Username =  @UserManager.GetUserName(User);

                
            }



    <section class="wrap">
        <section class="headerr">
            @* <div class="headerr-left"> *@
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"
                class="navbar-right">
                    <ul class="nav navbar-nav navbar-right navbar-cen">
                        <li class="nav-item">
                            <a class="nav-link hi-titile" asp-area="Identity" asp-controller="Manage" asp-action="Index"
                            title="Manage">Xin chào
                                @UserManager.GetUserName(User)!</a>

                        </li>
                        <li class="nav-item">
                            <button asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post"
                            id="logoutForm" type="submit" class="btn btn-link navbar-btn navbar-link logout-edit">Đăng
                                xuất</button>
                        </li>
                    </ul>
                </form>
            }
            
        </section>
        <div class="search-bar">
            <input type="text" class="search" placeholder="Quán gần bạn ... km">
            <i class="fas fa-search-location"></i>
        </div>
    </section>
    <div class="row">
    <div class="col-md-4">
        <form asp-area="Booking"asp-controller="Booking" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                 
            @if (SignInManager.IsSignedIn(User))
            {
                <input asp-for="UserName" value="@ViewBag.Username"  class="form-control" />
            }
            else{
                <input asp-for="UserName"  class="form-control" />
            }
                @* <input asp-for="UserName" value=""  class="form-control" /> *@
            
                
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientSlot" class="control-label"></label>
                <input asp-for="ClientSlot" class="form-control" />
                <span asp-validation-for="ClientSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingSlot" class="control-label"></label>
                <input asp-for="BookingSlot" class="form-control" />
                <span asp-validation-for="BookingSlot" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Branch" class="control-label"></label>
                <input asp-for="Branch" class="form-control" />
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="UserPhone" class="control-label"></label>
                <input asp-for="UserPhone" class="form-control" />
                <span asp-validation-for="UserPhone" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    @* <partial name="_SearchPage" /> *@
</body>