@using Microsoft.AspNetCore.Identity
@using App.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    @* <link rel="stylesheet" href="css/userPage.css"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section class="wrap">
        <section class="headerr">
            @* <div class="headerr-left"> *@
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"
                class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link hi-titile" asp-area="Identity" asp-controller="Manage" asp-action="Index"
                            title="Manage">Xin chào
                                @UserManager.GetUserName(User)!</a>

                        </li>
                        <li class="nav-item">
                            <button asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post"
                            id="logoutForm" type="submit" class="btn btn-link navbar-btn navbar-link logout-edit">Đăng
                                xuất</button>
                        </li>
                    </ul>
                </form>
            }
            @* <div class="headerr-name">
                Mio
                </div>
                <i class="far fa-user"></i> *@
            @* </div> *@
            @* <div class="headerr-right">
                <i class="far fa-envelope"></i>
                <a href="">Logout</a>
                </div> *@
        </section>
        <div class="search-bar">
            <input type="text" class="search" placeholder="Bạn đi bao nhiêu người...">
            <i class="fas fa-search-location"></i>
        </div>
    </section>
    @* <partial name="_SearchPage" /> *@
</body>